.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include respond-to('medium') {
        grid-area: header;
        max-width: 53rem;
        justify-self: end;
    }
}