.banner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 2rem;
    color: $text-white;
    &__logo{
        width: 10rem;
        grid-area: 1/1/3/2;
        justify-self: end;
        @include respond-to('medium') {
            width: 25rem;
        }
    }
    &__num-car{
        margin: 0;
        grid-area: 1/2/2/3;
        align-self: center;
        font-size: 7.4rem;
        @include respond-to('medium') {
            font-size: 16rem;
            align-self: start;
        }
    }
    &__name-car {
        grid-area: 2/2/3/3;
        align-self: center;
        font-size: 3.5rem;
        @include respond-to('medium') {
            font-size: 8rem;
            align-self: start;
        }
    }
    &__enter-car{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.2rem 1.2rem;
        margin-top: 2.5rem;
        width: fit-content;
        grid-area: 3/1/4/3;
        justify-self: center;
        color: $secondary-color;
        @include borderButton();
        i {
            font-size: 2.8rem;
        }
        span {
            font-size: 1.2rem;
        }
        @include scaleButton();
    }
    @include respond-to('medium') {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 2rem;
    }
}