.mis-carros {
    width: 100%;
    height: auto;
    max-height: 55.7rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $secondary-color;
        i{
            padding: 0.5rem;
            font-size: 2.4rem;
            @include borderButton();
            @include scaleButton();
        }
    }
    &__title{
        text-align: center;
    }
    &__cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        gap: 1.2rem;
        overflow-y: auto;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &__card{
        position: relative;
        width: 100%;
        height: 16rem;
        border-radius: 1.2rem;
        overflow: hidden;
        cursor: pointer;
    }
    &__number{
        position: absolute;
        right: 0;
        top: 0;
        color: $text-white;
        font-size: 8rem;
    }
    &__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}