.return {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    color: $text-white;
    i {
        cursor: pointer;
    }
    @include respond-to('medium') {
        width: 100%;
        grid-area: back;
        height: min-content;
        justify-content: start;
        max-width: 53rem;
        justify-self: end;
    }
}